<%-include('../../header/header.ejs')%>

<%-include('../../navigation/nav.ejs')%>

<%-include('../../menubar/top.ejs')%>

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Add Data Pricelist</h3>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><small>Price List</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="col-lg-12">
                            <% if (errors) { %>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <span style="text-align: center; color: white;"><%= errors %></span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" style="color: white;">&times;</span>
                                    </button>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="x_content">
                        <form action="/pricelist/editPricelist" method="post" validate>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">ID<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="text" data-validate-length-range="6" data-validate-words="2" name="id" placeholder="id.." value="<%= priceList.id %>" required="required" readonly/>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Job Type<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" class='optional' name="jobType" id='jobType' value="<%=priceList.jobType%>" placeholder="Job type.." data-validate-length-range="5,15" type="text" />
                                </div>
                            </div>
                            <!-- <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Password<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="password" id="password1" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}" title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character" required />
                                    
                                    <span style="position: absolute;right:15px;top:7px;" onclick="hideshow()" >
                                        <i id="slash" class="fa fa-eye-slash"></i>
                                        <i id="eye" class="fa fa-eye"></i>
                                    </span>
                                </div>
                            </div> -->
                            <!-- <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Price<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="number" class='number' name="price" id='price' placeholder="Price.." required='required' data-validate-length-range="8,20" />
                                </div>
                            </div> -->
                            <div class="input-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Price<span class="required">*</span></label>
                                <span class="input-group-addon">Rp</span>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <input type="text" name="price" id="price" class="form-control" value="<%=priceList.price%>" aria-label="Rupiah">
                                </div>
                                <span class="input-group-addon">.00</span>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Unit<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <select name="unit" id="unit" class="form-control">
                                        <% if (priceList.unit == 'bed') { %>
                                            <option value="<%=priceList.unit%>" selected><%= priceList.unit%></option>
                                        <% } else if (priceList.unit == 'duduk') { %>
                                            <option value="<%=priceList.unit%>" selected><%= priceList.unit%></option>
                                        <% } else if (priceList.unit == 'btl') { %>
                                             <option value="<%=priceList.unit%>" selected><%= priceList.unit%></option>
                                        <% } else if (priceList.unit == 'all') { %>
                                             <option value="<%=priceList.unit%>" selected><%= priceList.unit%></option>
                                        <% } else if (priceList.unit == 'unit') { %>
                                            <option value="<%=priceList.unit%>" selected><%= priceList.unit%></option>
                                        <% } else if (priceList.unit == 'jam') { %>
                                             <option value="<%=priceList.unit%>" selected><%= priceList.unit%></option>
                                        <% } %>
                                    </select>    
                                </div>
                            </div>
                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <button type='submit' class="btn btn-primary openActionAddEmployee" data-toggle='modal'>Add</button>
                                        <button type='reset' class="btn btn-success">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<%-include('../../modals/price/edited.ejs')%>

<%-include('../../footer/footer.ejs')%> 